<!-- -*- mode: XML -*- -->
<!-- run velodyne_height_map/HeightMapNodelet in a nodelet manager

	 $Id$
  -->

<launch>
	<arg name="cell_size" default="0.1" />
	<arg name="full_clouds" default="true" />
	<arg name="grid_dimensions" default="40" />
	<arg name="height_threshold" default="0.50" />

	<node pkg="nodelet" type="nodelet" name="heightmap_nodelet"
		  args="load velodyne_height_map/HeightMapNodelet velodyne_nodelet_manager" >
		<param name="cell_size" value="$(arg cell_size)"/>
		<param name="full_clouds" value="$(arg full_clouds)"/>
		<param name="grid_dimensions" value="$(arg grid_dimensions)"/>
		<param name="height_threshold" value="$(arg height_threshold)"/>
	</node>
</launch>
